#contact {
    min-height: 100vh;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/1440119/pexels-photo-1440119.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 4rem;
    z-index: 30 !important;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: rgb(226, 226, 226) !important;
        z-index: 30;
    }
}


#overlay4 {
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
}


@media(max-width: 768px){
    #contact {
        display: none;
    }
}

