#footer {
    
    background-color: rgb(2, 2, 2);
    height: 200px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
   
    h1 {
        color: rgb(230, 228, 228);
    }


  
}