#sidebar {
    background-color: rgba(16, 77, 124, 0.89);
    width: 75%;
    height: 250px;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 20;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        margin: 0rem 0;
        width: 100%;
        text-align: center;
        padding: 10px;
        color: #fff;
        transition: all 0.2s ease !important; 
    }

    a:hover {
        background-color: rgba(206, 60, 7, 0.76);
    }
}




#sidebar.show {
    left: 0;
    top: 0;
}